.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  text-decoration: underline #BF1363 ;
}

body {
  background-color: #FFF9B0;
}

h1 {
  margin: 30px;
  font-family: 'Kaushan Script', cursive;
  text-shadow: 5px;
  font-size: 5rem;
  color: #BF1363;
}

p {
  font-size: 2rem;
  color: #BF1363;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #BF1363;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
